/* Write your code here. */

.container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  padding: 20px;
}
.heading{
    color: Hex: #0f172a;
    font-size: 30px;
    font-family: "Roboto";
}
.card{
    background-color: #cffafe;
    padding: 20px;
}